*{
    margin: 0px;
    overflow-x: hidden;
}

#logo{
    width: 250px;
    position: absolute;
    top: 15px;
    left: 30px
}

#logo:hover{
    cursor: pointer;
}

#nav_bar{
    display: flex;
    height: 110px;
    justify-content: right;
    align-items: center;
}

.nav_button{
    color: blue;
    border: solid .1px;
    font-family: cursive;
    position: sticky;
    padding: 2px 5px 2px 5px;
    margin: 5px;
    border-radius: 40px;
}

.nav_button:hover{
    cursor: pointer;
    box-shadow: 4px 6px rgb(158, 158, 161);
    font-size: 18px;
    transition-duration: .15s;
}

#shop{
    position: relative;
    top: 0%;
    mask-image: linear-gradient(transparent, black, black, black, transparent);
}

#scroller{
    display:block;
    width: max-content;
    max-height: 240px;
    overflow:hidden;
}



#haircut_gallery{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
    position: absolute;
    bottom: 0px;
    flex-wrap: nowrap;
    

}

.haircut_img{
    max-height: 230px;
    animation-name: scroll_left;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
    margin:10px;
    border-radius: 20%;
    left: 0%;
}

@keyframes scroll_left {
    to {
        left: -50%;
    }
}


.haircut_img:hover{
    cursor: pointer;
    transition-duration: .15s;
    border-radius: 20%;
    translate: 0px -20px;
    box-shadow: 10px 10px gray;
    animation-play-state: paused;
}

#hours{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 255px;
    right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(5deg,rgba(28, 23, 158, 0.785),transparent, rgba(28, 23, 158, 0.785), transparent);
    padding: 15px;
    border: solid black 1px;
    border-radius: 5%;
}

#hours:hover{
    cursor: pointer;
    position:absolute;
    top: 240px;
    right: 60px;
    transition-duration: 1s;
    border-radius: 20%;
    box-shadow: 10px 10px gray;
}


